body {
    margin: 0;
    padding: 0;
    background-color: red;
    color: rgb(0, 87, 0);
}



.content {
    text-align: center;
    font-family: Arial, sans-serif;
}

img {
 height: 400px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}